body {
    background-color: black;
}
.corpo{
    color: white;
    text-align: center;
}
.personagens {
    display: flex;
    justify-content: space-between; /* Espaço entre as imagens */
    gap: 10px; /* Espaçamento entre as imagens */
}
.personagens img{
    width: 350px;
    height: auto;
    border-color: rgb(255, 255, 255);
    border: 5px solid #333; /* Borda ao redor da imagem */
    border-radius: 10px; /* Cantos arredondados */
}
.Raposa1{
    padding-bottom: 20px;
}